*
!/.gitignore
!/.github/
!/.github/**
!/CHANGELOG.md
!/Dockerfile.archlinux
!/.actrc
!/.gitmodules
!/AGENTS.md
!/NEXT_STEPS.md
!/Makefile
!/README.md
!/RDP_CAVEATS.md
!/SKILLS.md
!/discovery/
!/discovery/**
!/assets/
!/assets/**
!/scripts/
!/scripts/**
!/thinkpadkali1dotfiles/
!/thinkpadkali1dotfiles/**
!/Desktop/
!/Desktop/RDP 🧾🔐 SAM.desktop
!/Desktop/RDP 🧾🔐 SAM.rdp
!/Desktop/rdp.sam
!/.bash_history
!/.codex/
!/.codex/**
!/.config/
!/.config/konsolerc
!/.config/konsolesshconfig
!/.config/plasma-org.kde.plasma.desktop-appletsrc
!/.config/plasma-localerc
!/.config/plasma-nm/
!/.config/plasma-nm/**
!/.config/plasmanotifyrc
!/.config/plasmaparc
!/.config/plasmarc
!/.config/plasmashellrc
!/.config/plasma-workspace/
!/.config/plasma-workspace/**
!/.config/PlasmaDiscoverUpdates/
!/.config/PlasmaDiscoverUpdates/**
!/.config/kdeglobals
!/.config/kcminputrc
!/.config/kwinrc
!/.config/ksmserverrc
!/.config/kscreenlockerrc
!/.config/tmux/
!/.config/tmux/**
!/.tmux.conf
!/.tmux.conf.local
!/.local/
!/.local/share/konsole/
!/.local/share/konsole/**
!/.local/share/plasma/
!/.local/share/plasma/**
!/.local/share/plasma_engine_comic/
!/.local/share/plasma_engine_comic/**
!/.local/share/plasma_icons/
!/.local/share/plasma_icons/**
